@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark--Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose--White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light--Grey: hsl(30, 18%, 87%);
    --Wenge--Brown: hsl(30, 10%, 34%);
    --Dark--Charcoal: hsl(24, 5%, 18%);
}
body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrapper {
    margin-top: 100px;
    width: 600px;
    background-color: var(--White);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 35px;
}
.title-image {
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.title {
    font-family: "Young Serif";
    font-weight: 400;
    font-size: 40px;
}
.title-patagraph {
    font-family: "Outfit";
    font-weight: 400;
    font-size: 15px;
    color: var(--Wenge--Brown);
    margin-top: -10px;
    margin-bottom: 50px;
}
.title-box {
    background-color: var(--Rose--White);
    font-family: "Outfit";
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.title-box__head {
    color: var(--Dark--Raspberry);
    margin-left: 15px;
}
.title-box__item {
    padding: 7px;
    color: var(--Dark--Raspberry);
}
.bold {
    color: var(--Wenge--Brown);
    font-weight: 600;
    margin-left: 10px;
}
.text {
    color: var(--Wenge--Brown);
}
