@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
    list-style: none;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    font-family: "Outfit";
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box {
    background-color: hsl(0, 0%, 100%);
    max-width: 330px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 20px;
}
.paragraph {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    padding: 0 20px;
}
.title {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding: 0 10px;
}
img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
